
    /* label {
        color:white;
        float: right;
        margin-right: 18em;
        display: block;
  
      }
  
      .col-25{
        float: left;
        margin-left: 8em;
      } 
   */
      
      /* the inside of the textarea */
      textarea::placeholder{
        font-size: medium;      /*size of the Write inside*/
        color:rgb(143, 140, 140);
        text-align: right;      /*which size the Write is*/
      }

        /* the inside of the input */
      input::placeholder{
            font-size: small;       /*size of the Write inside*/
            color:rgb(143, 140, 140);
            text-align: right;
      }
      
    