*{
    direction: ltr;
    background-color: black;
    
}
.navbar-brand{
    margin-right: 2rem;
    
}

body{
    line-height:2.2;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    color: white;
}

.bg-dark{
    background-color: black !important;
}
.nav-link:hover{
    color:rgb(59, 173, 59) !important;
}
.nav-link:active{ 
    color: white !important ;

}
#map{
width: 350px;
}
.col-3{
    text-align: right;
    padding: 0px 80px 0px 0px;
}
.hour{
    text-align: right;
    font-size: medium;
    position: relative;


}
.col-6{
    padding: 0px 0px 0px 100px;
    position: relative;

}
.row{
position: relative;
}





